@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
    /* Add a blue outline to all elements */
}

body {
    font-family: Roboto;
}

.header, .hero, .footer {
    background-color: #1F2937;
}

.quote {
    background-color: #e5e7eb;
}

.ad {
    background-color: #3882F6;
}

.header-logo, .hero-text-large, .hero-button, .ad-text-large {
    color: #f9faf8;
}

li, .hero-text-small, .ad-text-small {
    color: #dbdbdb;
}

.item-text, .quote-text-small, .ad-button {
    color: #1F2937;
}

.ad-text-large {
    font-weight: 900;
}

.hero-text-large {
    font-size: 48px;
    margin-bottom: 16px;
}

.hero-text-small {
    margin-bottom: 16px;
}

.header-logo {
    font-size: 24px;
}

.gallery-text-large, .quote-text-large {
    font-size: 36px;
}

.quote-text-large {
    font-style: italic;
    font-weight: 100;
}

.gallery-flex-item img {
    border-style: solid;
    border-color: #3882F6;
    padding: 32px;
}

.hero-button, .ad-button {
    background-color: #3882F6;
    padding: 8px 16px;
}

.hero-button {
    border-style: none;
    margin-bottom: 32px;
}

.ad-button {
    color: white;
    border-style: solid;
    border-color: white;
}

.header-logo, .hero-text-large, .gallery-text-large {
    font-weight: 900;
}

.header {
    display: flex;
    justify-content: space-between;
    /* margin: 48px; */
    padding: 16px 48px;
    align-items: center;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin-right: 200px;
    flex-shrink: 0;
}

.header-logo {
    flex-shrink: 0;
    margin-right: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-container {
    width: 500px;
    margin: 48px;
}

.hero img {
    padding: 32px;
    margin: 16px auto;
}

.gallery {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 64px;
}

.gallery-flex {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.gallery-flex-item {
    max-width: 200px;
}

.gallery-text-large {
    margin-bottom: 32px;
}

.quote {
    padding: 128px 128px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .quote-text-large {
    width: 300px;
} */

.quote-text-small {
    align-self: flex-end;
}

.ad {
    margin: 32px 64px;
    padding: 32px 64px;
    display: flex;
    justify-content: space-between;
}


.footer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}
